/* LOGIN PAGE */

.auth-page{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#2563eb,#7c3aed);
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* ORDERS PAGE */

.orders-page{
    margin:0;
    font-family:Arial,sans-serif;
    background:#eef5ff;
    min-height:100vh;

    display:block;
}

body{
margin:0;
font-family:Arial,sans-serif;
min-height:100vh;
background:#eef5ff;
}
/* Login Card */

.container{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

.auth-card{

width:400px;  

background:white;  

padding:35px;  

border-radius:20px;  

box-shadow:  
0 10px 30px rgba(0,0,0,0.2);  

text-align:center;

}

.auth-card h1{

margin-bottom:25px;  
color:#240fae;

}

/* Tabs */

.tabs{

display:flex;  
margin-bottom:20px;

}

.tabs button{

flex:1;  
border:none;  
padding:12px;  
cursor:pointer;  
background:#e5e7eb;  
color:black;  
font-weight:bold;

}

.tabs button:hover{

background:#d1d5db;

}

/* Inputs */

input{

width:100%;  

padding:12px;  

margin:10px 0;  

border:1px solid #ddd;  

border-radius:8px;  

box-sizing:border-box;

}

/* Buttons */

button{

background:#2563eb;  

color:white;  

border:none;  

padding:12px;  

width:100%;  

border-radius:8px;  

cursor:pointer;  

font-size:16px;

}

button:hover{

background:#1d4ed8;

}
body{
margin:0;
font-family:Arial,sans-serif;
background:#eef5ff;
}

.navbar{
position:sticky;
top:0;
width:100%;
background:#1565c0;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
box-sizing:border-box;
z-index:1000;
}
.logo{
font-size:24px;
font-weight:bold;
}

.nav-right{
display:flex;
gap:20px;
}

.nav-right a{
color:white;
text-decoration:none;
font-weight:bold;
}

.orders-container{
width:80%;
max-width:900px;
margin:40px auto;
padding-bottom:30px;
}
.orders-container h1{
text-align:center;
color:#1565c0;
}

.order-card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:12px;
box-shadow:0 2px 8px rgba(0,0,0,0.15);
}

.order-card h3{
margin-top:0;
color:#1565c0;
}
.password-box{
    position:relative;
    width:100%;
    margin:10px 0;
}

.password-box input{
    width:100%;
    padding:12px 40px 12px 12px;
    border:1px solid #ddd;
    border-radius:8px;
    box-sizing:border-box;
}

.toggle-password{
    position:absolute;
    right:12px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    font-size:18px;
    user-select:none;
}